<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>人员信息</title>
  {% load staticfiles %}
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="/favicon.ico">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="per" data="{{ family_master.personnel_uuid }},{{ family_master.ID_photo }},{{ family_master.name }}" />
  <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
  <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
  <style>
    .content-block {
      padding: 0px;
      margin: 0px;
    }

    .ID_photo {
      text-align: center;
    }
    .photo{
      width: 81px;
      height: 97px;

    }
      p{ width:90%; padding: 0px;margin: 0px;white-space:nowrap; margin-left: 10px; font-size: 17px; color: #222222}
      .jiankong{float: right}
      .tubiao{height: 20px; margin-left: 180px;margin-top:15px}
      span{font-size: 14px;  color: #B4DDE8; border:1px; background:#FFF; margin-right: 5px}
      .gender{margin-right: 30px;font-size: 17px; color: #222222}
      .nation{font-size: 17px; color: #222222}
      .item-content{border-color: #101010}
      ul.none{display: none}
      table{background-color: white; width: 100%; margin: 0;padding: 0; height: auto; margin-bottom: 4px; }
      td{height: 40px}
      .tou{margin-top: 15px; height: 30px}
      .name{font-size: 22px; margin-left: 30px}
      img{width: 20px; height: 20px}
      .address{white-space: pre-line; width: 80%}
      .geren{position:fixed; top:0; left: 0;width: 100%}
      .kuai{margin-top: 40px}
  </style>
</head>

<body>
  <div class="page-group">
    <div class="page page-current">
      <div class="content">
        <div class="buttons-tab geren">
          <a href="#tab1" class="tab-link active button">{{ family_master.name }}</a>
          <a href="#tab2" class="tab-link button">亲属</a>

        </div>
        <div class="content-block kuai">
          <div class="tabs">
            <div id="tab1" class="tab active">
              <div class="content-block">
                <div class="list-block" style="margin: 0px">
                  <table>
                      <tr>
                          <td><img class="photo" src="{{ family_master.ID_photo | default:'app/images/timg.jpg' }}" /></td>
                          <td><p class="name tou">{{ family_master.name }}</p>
                              <p class="tubiao">
                                  {% if family_master.political_face == '党员' %}
                                      <img src="{% static 'app/images/face.png' %}">
                                  {% endif %}
                                  {% if family_master.is_leader == '是' %}
                                      <img src="{% static 'app/images/leader.png' %}">
                                  {% endif %}
                                  {% if family_master.is_three_personnel == '是' %}
                                      <img src="{% static 'app/images/three.png' %}">
                                  {% endif %}
                                   {% if family_master.is_key_monitor == '是' %}
                                      <img src="{% static 'app/images/key.png' %}">
                                  {% endif %}</p>
                              <p class="name">
                                  <span class="gender">{{ family_master.gender }}</span>
                                  <span class="gender">{{ master_age }}</span>
                                  <span class="nation" >{{ family_master.nation }}</span>
                              </p>
                          </td>
                      </tr>
                      <tr><td colspan="2"><p><span>身份证号：</span>{{ family_master.ID_number }}</p></td></tr>
                      <tr><td><p><span>身份证地址：</span></p></td>
                      <td><p class="address">{{ family_master.ID_address }}</p></td></tr>
                      <tr><td colspan="2"><p><span>籍贯：</span> {{ family_master.native_place }}</p></td></tr>
                  </table>
                  <table>
                      <tr>
                          <td colspan="2" ><p class="tou"><span>从事职业：</span>{{ family_master.work_source }}</p></td>
                      </tr>
                      <tr>
                          <td><p><span>工作性质：</span>{{ family_master.work_desc }}</p></td>
                          <td><p><span>年收入：</span>{{ family_master.annual_earnings }}</p></td>
                      </tr>
                      <tr>
                          <td colspan="2"><p><span>工作地点：</span>{{ family_master.work_address }}</p></td>
                      </tr>
                      <tr>
                          <td colspan="2"><p><span>现住地址：</span>{{ family_master.present_address }}</p></td>
                      </tr>
                      <tr>
                          <td colspan="2"><p><span>联系电话：</span>{{ family_master.phone_number }}</p></td>
                      </tr>
                      <tr>
                          <td><p><span>流出新疆时间：</span>

                           {% for migration in family_migration %}
                               {% if migration.outflow_address == '新疆' %}
                                   {{ migration.outflow_date }}
                               {% endif %}

                          {% endfor %}
                              </p></td>
                          <td><p><span>家庭人口：</span>{{ family_master.family_members }}</p></td>
                      </tr>
                      <tr>
                          <td colspan="2"><p><span>流入时间／地点：</span>
                          {% for migration in family_migration %}
                              {{ migration.inflow_date }}   {{ migration.inflow_address }}
                          {% endfor %}</p></td>
                      </tr>
                  </table>
                  <table>
                      <tr>
                          <td><p class="tou"><span>文化程度：</span>{{ family_master.educational_level }}</p></td>
                          <td><p class="tou"><span>政治面貌：</span>{{ family_master.political_face }}</p></td>
                      </tr>
                      <tr>
                          <td><p><span>兵团地方：</span>{{ family_master.is_corps }}</p></td>
                          <td><p><span>婚姻状况：</span>{{ family_master.marriage }}</p></td>
                      </tr>
                      <tr>
                          <td><p><span>住房情况：</span>{{ family_master.own_house }}</p></td>
                          <td><p><span>是否享受低保：</span> {{ family_master.is_minimum_security }}</p></td>
                      </tr>
                      <tr>
                          <td><p><span>健康状况：</span>{{ family_master.health }}</p></td>
                          <td><p><span>是否参加医保：</span>{{ family_master.is_medical_security }}</p></td>
                      </tr>
                      <tr>
                          <td colspan="2"><p><span>护照编号：</span>{{ family_master.passport_number }}</p></td>
                      </tr>
                  </table>
                  <table>
                      <tr>
                          <td colspan="2"><p class="tou"><span>登记地点：</span>{{ family_master.input_location }}</p></td>
                      </tr>
                      <tr>
                          <td><p><span>登记时间：</span>{{ family_master.note }}</p></td>
                          <td><p><span>登记人：</span>{{ family_master.input_user_name }}</p>
                          </td>
                      </tr>
                  </table>

                  <ul class="none">
                    <!-- Text inputs -->
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title label">
                            <img class="photo" src="{{ family_master.ID_photo | default:'app/images/timg.jpg' }}" />
                          </div>
                          <div class="item-input">
                              <p>{{ family_master.name }}</p>
                              <p class="tubiao">
                                  {% if family_master.political_face == '党员' %}
                                      <img src="{% static 'app/images/xing.png' %}">
                                  {% endif %}
                                  {% if family_master.is_three_personnel == '是' %}
                                      <img src="{% static 'app/images/gezi.png' %}">
                                  {% endif %}
                                   {% if family_master.is_key_monitor == '是' %}
                                      <img class="jiankong" src="{% static 'app/images/jingshi.png' %}">
                                  {% endif %}
                              </p>
                              <p><span class="gender">{{ family_master.gender }}</span><span>{{ family_master.nation }}</span> </p>
                          </div>

                        </div>
                      </div>

                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title label">性别</div>
                          <div class="item-input">
                            {{ family_master.gender }}
                          </div>
                        </div>
                      </div>
                    </li>

                    <!-- Select -->
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title label">民族</div>
                          <div class="item-input">
                            {{ family_master.nation }}
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title label">籍贯</div>
                          <div class="item-input">
                            {{ family_master.native_place }}
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title label">出生</div>
                          <div class="item-input">
                            {{ family_master.birth_date }}
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title label">身份证号</div>
                          <div class="item-input">
                            {{ family_master.ID_number }}
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title label">身份证地址</div>
                          <div class="item-input">
                            {{ family_master.ID_address }}
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title label">联系电话</div>
                          <div class="item-input">
                            {{ family_master.phone_number }}
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title label">政治面貌</div>
                          <div class="item-input">
                            {{ family_master.political_face }}
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title label">文化程度</div>
                          <div class="item-input">
                            {{ family_master.educational_level }}
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title label">婚姻情况</div>
                          <div class="item-input">
                            {{ family_master.marriage }}
                          </div>
                        </div>
                      </div>
                    </li>
                      <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title label">家庭人口</div>
                          <div class="item-input">
                            {{ family_master.family_members }}
                          </div>
                        </div>
                      </div>
                    </li>
                      <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title label">经济来源</div>
                          <div class="item-input">
                            {{ family_master.work_source }}
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title label">年收入</div>
                          <div class="item-input">
                            {{ family_master.annual_earnings }}
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title label">工作性质</div>
                          <div class="item-input">
                            {{ family_master.work_desc }}
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title label">工作地址</div>
                          <div class="item-input">
                            {{ family_master.work_address }}
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title label">住房情况</div>
                          <div class="item-input">
                            {{ family_master.own_house }}
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title label">现住地址</div>
                          <div class="item-input">
                            {{ family_master.present_address }}
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title label">健康状况</div>
                          <div class="item-input">
                            {{ family_master.health }}
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title label">有无低保</div>
                          <div class="item-input">
                            {{ family_master.is_minimum_security }}
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title label">有无医保</div>
                          <div class="item-input">
                            {{ family_master.is_medical_security }}
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title label">兵团/地方</div>
                          <div class="item-input">
                            {{ family_master.is_corps }}
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title label">带头人</div>
                          <div class="item-input">
                            {{ family_master.is_leader }}
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title label">三员</div>
                          <div class="item-input">
                            {{ family_master.is_three_personnel }}
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title label">护照编号</div>
                          <div class="item-input">
                            {{ family_master.passport_number }}
                          </div>
                        </div>
                      </div>
                    </li>
                      <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title label">录入时间</div>
                          <div class="item-input">
                            {{ family_master.note }}
                          </div>
                        </div>
                      </div>
                    </li>
                      <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title label">录入地点</div>
                          <div class="item-input">
                            {{ family_master.input_location }}
                          </div>
                        </div>
                      </div>
                    </li>
                      <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title label">录入人</div>
                          <div class="item-input">
                            {{ family_master.input_user_name }}
                          </div>
                        </div>
                      </div>
                    </li>
                      {% for migration in family_migration %}
                              <li>
                            <div class="item-content">
                              <div class="item-inner">
                                <div class="item-title label">流出地/时间</div>
                                <div class="item-input">
                                  {{ migration.outflow_address }}｜{{ migration.outflow_date }}
                                </div>
                              </div>
                            </div>
                          </li>
                               <li>
                            <div class="item-content">
                              <div class="item-inner">
                                <div class="item-title label">流入地/时间</div>
                                <div class="item-input">
                                  {{ migration.inflow_address }}｜{{ migration.inflow_date }}
                                </div>
                              </div>
                            </div>
                          </li>
                          {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            <div id="tab2" class="tab">
              <div class="content-block">
                {% for member in family_members %}
                <div class="card">
                  <div class="card-header">{{ member.family_relation }}</div>
                  <div class="card-content">
                    <div class="card-content-inner">

                      <div class="list-block">
                        <ul>
                          <!-- Text inputs -->
                          <li>
                            <div class="item-content">
                              <div class="item-inner">
                                <div class="item-title label">姓名</div>
                                <div class="item-input">
                                  {{ member.name }}
                                </div>
                              </div>
                            </div>
                          </li>


                          <!-- Select -->
                          <li>
                            <div class="item-content">
                              <div class="item-inner">
                                <div class="item-title label">民族</div>
                                <div class="item-input">
                                  {{ member.nation }}
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="item-content">
                              <div class="item-inner">
                                <div class="item-title label">身份证号</div>
                                <div class="item-input">
                                  {{ member.ID_number }}
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="item-content">
                              <div class="item-inner">
                                <div class="item-title label">联系电话</div>
                                <div class="item-input">
                                  {{ member.phone_number }}
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="item-content">
                              <div class="item-inner">
                                <div class="item-title label">政治面貌</div>
                                <div class="item-input">
                                  {{ member.political_face }}
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="item-content">
                              <div class="item-inner">
                                <div class="item-title label">文化程度</div>
                                <div class="item-input">
                                  {{ member.educational_level }}
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="item-content">
                              <div class="item-inner">
                                <div class="item-title label">婚姻情况</div>
                                <div class="item-input">
                                  {{ member.marriage }}
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="item-content">
                              <div class="item-inner">
                                <div class="item-title label">工作性质</div>
                                <div class="item-input">
                                  {{ member.work_desc }}
                                </div>
                              </div>
                            </div>
                          </li>

                        </ul>
                      </div>
                    </div>
                  </div>

                </div>
                {% endfor %}

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
  <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
  <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
  <script type="text/javascript">
    var myPhotoBrowserPopup = $.photoBrowser({
      photos : [
          "{{ family_master.ID_photo | default:'app/images/timg.jpg' }}",
      ],
      type: 'popup'
  });
  $(document).on('click','.photo',function () {
    myPhotoBrowserPopup.open();
  });
  </script>
</body>

</html>